@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
    direction: rtl;
}


.switch-container {
    position: fixed;
    top: 1rem; /* Adjust top position as needed */
    right: 1rem; /* Adjust right position as needed */
    z-index: 999; /* Ensure it's above other content */
}

